@using RcTracking.UI.Events
@using RcTracking.UI.Services

<div class="top-row ps-3 navbar navbar-dark">
	<div class="container-fluid">
		<a class="navbar-brand" href="">RcTracking.UI</a>
		<button title="Navigation menu" class="navbar-toggler" @onclick="ToggleNavMenu">
			<span class="navbar-toggler-icon"></span>
		</button>
	</div>
</div>

<div class="@NavMenuCssClass nav-scrollable" @onclick="ToggleNavMenu">
	<nav class="nav flex-column">
		<div class="nav-item px-3">
			<NavLink class="nav-link" href="" Match="NavLinkMatch.All">
				<span class="bi bi-house-door-fill-nav-menu" aria-hidden="true"></span> Home
			</NavLink>
		</div>
		<div class="nav-item px-3">
			<NavLink class="nav-link" href="Plane" Match="NavLinkMatch.All">
				<span>
					<MudIcon Icon="@Icons.Material.Filled.AirplanemodeActive" Title="Planes" /> Planes
				</span> 
			</NavLink>
		</div>
		<div class="nav-item px-3">
			<NavLink class="nav-link" href="Flight" Match="NavLinkMatch.All">
				<span>
					<MudIcon Icon="@Icons.Material.Filled.FlightTakeoff" Title="Flights" /> Flights
				</span>
			</NavLink>
		</div>
	</nav>
</div>

@code {
    [Inject]
    private EventBus EventBus { get; set; }

    [Inject]
    private ISnackbar snackbarService { get; set; }

	private bool collapseNavMenu = true;

	private string? NavMenuCssClass => collapseNavMenu ? "collapse" : null;

	private void ToggleNavMenu()
	{
		collapseNavMenu = !collapseNavMenu;
	}


    protected override void OnInitialized()
    {
        EventBus.OnMessage += OnMessage;
    }

    private void OnMessage(object? sender, EventMessage? e)
    {
        switch (e?.Event)
        {
            case EventEnum.FlightAdded:
            case EventEnum.PlaneAdded:
            case EventEnum.PlaneUpdated:
                Console.WriteLine("Success!");
                snackbarService.Add("Success!", Severity.Success);
                break;
            default:
				break;

		}
        
    }
}

